<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="index.html">SuzenEscape</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">News</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://escape.myctf.ru/rating">Scoreboard</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="help.html">Help</a>
        </li>
      </ul>



      <ul class="navbar-nav ml-auto">    
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/bykvaadm/" target="_blank" rel="noopener" aria-label="GitHub"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/bykvaadm" target="_blank" rel="noopener" aria-label="telegram"><i class="fab fa-telegram-plane"></i></a>
        </li>
	<li>
		<a href="help.html"> <button class="btn btn-outline-success" type="submit">С чего начать?</button></a>
	</li>
      </ul>
  
    
    </div>
    
    
  </nav>