    <div class="col-md-8 news border-left">
        <div class="row">
            <div class="col-md-12">
               <h1>News</h1>
               <div class="alert alert-success" role="alert">
                    На данный момент для решения доступно 27 заданий
                  </div>
               <div class="alert alert-primary" role="alert">
                    Обязательно к прочтению:  <a href="https://github.com/bykvaadm/OS/blob/master/admin/lab1/README.md" class="alert-link">Ссылка на репозиторий</a>.
                </div>

                <div class="new card mt-2">
                    <div class="card-header">24 февраля 2019</div>
                    <div class="card-body"><p>Увидела свет новая категория заданий - с внешними проверками</p></div>
                </div>

                <div class="new card mt-2">
                    <div class="card-header">22 февраля 2019</div>
                    <div class="card-body">
                        <p>
                            Обратите внимание что некоторые задания представляют собой цепочку. Это значит, что найденный флаг является паролем от следующего задания, а не ответом, который нужно сдавать в жюри. Флаг из последнего задания цепочки - ответ на всю цепочку и именно его нужно сдать в жюри.
                            Формат флага - строка, вида Y2FoN25lVmFDaDdhaWswYXVnN2EK. всегда именно такая
                        </p>
                    </div>
                </div>

                <div class="new card mt-2">
                    <div class="card-header">20 февраля 2019</div>
                    <div class="card-body">
                        <p>
                            По всем вопросам обращаться в telegram: @bykva <br>
                            Добавлена новая категория для самых юных <br>
                            Добавлено несколько новых заданий <br>
                            Запущен POC suzen escape в виде CTF ^_^
                        </p>
                    </div>
                </div>  
            </div>
        </div> 
    </div>
