<div class="col-md-2 tasks">
        <ul class="nav flex-column">
            <h5>For beginners</h5>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#basic-bash-commands">Basic Bash Commands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#basic-bash-commands2">Basic Bash Commands2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#basic-bash-commands3">Basic Bash Commands3</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <h5>Админ локалхоста</h5>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#beginner">Beginner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#text-editor">My favourite text editor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#one-line-solve">One Line solve</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"data-toggle="modal" data-target="#recursive-folders"> Recursive folders</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <h5>Remote Connect</h5>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#talk-to-nginx">Talk to NGINX</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#maze">Maze</a>
            </li>
        </ul>
    </div>